html
    head
        title!= title
        script(src='https://code.getmdl.io/1.3.0/material.min.js')
        script(src='/api.js')
    block styles
            link(rel='stylesheet',  href="https://fonts.googleapis.com/icon?family=Material+Icons")
            link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
            link(rel='stylesheet' href="/style.css")

    body
        block header
        .mdl-layout.mdl-js-layout
            header.mdl-layout__header
                .mdl-layout__header-row.project_navbar
                .mdl-layout-spacer
            a.mdl-navigation__link.mdl-layout-title.project_navbar__title(href='/').textHeader Translator
            form(action='#')
                .mdl-textfield.mdl-js-textfield
                    input#sample2.mdl-textfield__input(type='text',name='text', pattern="[А-яA-z]{0,15}")
                    label.mdl-textfield__label(for='sample2') Number...
                    span.mdl-textfield__error Input is not a word! Max length should be 15 letters...
                button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit').translateButton OK
